@font-face {
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter-Bold.woff) format('woff'),
  url(../fonts/Inter-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter-SemiBold.woff') format('woff'),
  url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
}

.header_background_gray {
  background: #f2f2f2;
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-image: url('../images/header-image.png');
  background-size: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

.logo {
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index:  1;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.description {
  margin-top: 100px;
}

.two-columns {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph {
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 700;
}

.two-columns__brief_color_blue {
  color: #2f80ed;
}

.techniques {
  width: 80%;
  text-align: center;
  padding: 100px 0 0;
}

.techmiques_block_center {
  margin: 0 auto;
}

/* .section__ */

.section-title {
  width: 60%;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-title_block_center {
  margin: 0 auto;
}

.section-title_theme_dark {
  color: #ffffff;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle_block_center {
  margin: 0 auto;
}

.section-subtitle_margin_top {
  margin-top: 20px;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

/* .cards__ */
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.cards_block_center {
  margin: 0 auto;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  margin: 60px 40px 43px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

.cards__title {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin-top: 10px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.digits {
  padding: 100px 0;
}

.digits_block_center {
  margin: 0 auto;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_block_center {
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_width_200 {
  width: 200px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15em;
  font-weight: 700;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
}

.table__text_theme_dark {
  color:#ffffff;
}


.kaufman {
  padding: 90px 0;
}

.kaufman_block_center {
  margin: 0 auto;
}

.kaufman_theme_dark {
  background-color: #1f1f1f;
}

.resources {
  padding: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  display: flex;
  justify-content: center;
}

.resources__logo-zone_position {
  margin: 80px auto 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources_block_center {
  margin: 0 auto;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
