@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.woff) format('woff'),
  url(../fonts/Inter-Bold.woff2) format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff'),
  url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
}

/* .content {

} */

.content__block_centered {
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header_background_gray {
  background: #f2f2f2;
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
  transition: opacity .3s ease-in-out 0s;
}

.header__link:hover{
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-image: url('../images/header-image.png');
  background-size: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.logo {
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index:  1;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.description {
  padding: 100px 0 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph {
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 700;
}

.two-columns__brief_color_blue {
  color: #2f80ed;
}

.techniques {
  width: 80%;
  text-align: center;
  padding: 100px 0 0;
}

.video {
  padding: 100px 0 0;
}

.video__iframes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
}

.video__iframe {
  min-width: 515px;
  min-height: 316px;
  margin-right: 20px;
}

.video__iframe:last-child {
  margin-right: 0px;
}

.oakley {
  padding: 160px 0 0;
  background-color: #f2f2f2;
}

.feynman {
  padding: 100px 0 0;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 890px;
  min-width: 637px;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 648px;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  color:#2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 0.3s ease-in-out 0s;
}

.feynman__link:hover{
  opacity: .5;
}

.khan {
  padding: 100px 0 0;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.khan__quote {
  max-width: 790px;
  margin: 50px 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
}

.khan__book-pic {
  margin-right: 48px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  align-self: flex-start;
  transition: opacity 0.3s ease-in-out 0s;
}

.khan__buy-link:hover {
  opacity: .5;
}

/* .section__ */

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-title_theme_dark {
  color: #ffffff;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle_margin_top {
  margin-top: 20px;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

/* .cards__ */
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  margin: 60px 40px 43px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin-top: 10px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.digits {
  padding: 100px 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_width_s {
  width: 200px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text_theme_dark {
  color:#ffffff;
}


.kaufman {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -210px;
}

.kaufman_theme_dark {
  background-color: #1f1f1f;
}

.resources {
  padding: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  color:#ffffff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size:  18px;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 20px 0 18px;
}

.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out 0s;
}

.footer__column-link:hover {
  opacity: .6;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
